<main style="    width: 20%;min-width: 300px;">
    <h3 class="text-center">Create an account</h3>
    <!-- <span ac-value="form|json"></span> -->
    <form class="app-form" @submit="submit" ac-form-group="form">
<!--         <div class="app-form__row" ac-for="let field of fields">
            <label class="app-form__label">
                <div class="app-form__label__input"> 
                    <input required type="text" ac-attr="placeholder: name, ac-model: name" ac-model="formData" />
                    <div class="app-form__border"></div> 
                </div>
            </label>
        </div> -->
        <div class="app-form__row">
            <label class="app-form__label">
                <div class="app-form__label__input">
                    <input required type="text" placeholder="Name" ac-form-control="name" />
                    <div class="app-form__border"></div>
                    <span class="invalid-message" ac-if="this.form.controls.name.errors.required">Field can not be empty</span>
                    <!-- <span class="invalid-message" ac-if="this.form.controls.phone.errors.phone">Invalid format</span> -->
                </div>
            </label>
        </div>

        <div class="app-form__row">
            <label class="app-form__label">
                <div class="app-form__label__input">
                    <input required type="text" placeholder="Phone" ac-form-control="phone" />
                    <div class="app-form__border"></div>
                    <span class="invalid-message" ac-if="this.form.controls.phone.errors.required">Field can not be empty</span>
                    <!-- <span class="invalid-message" ac-if="this.form.controls.phone.errors.phone">Invalid format</span> -->
                </div>
            </label>
        </div>

        <div class="app-form__row">
            <label class="app-form__label">
                <div class="app-form__label__input">
                    <input required type="text" placeholder="Password" ac-form-control="password" />
                    <div class="app-form__border"></div>
                    <span class="invalid-message" ac-if="this.form.controls.password.errors.required">Field can not be empty</span>
                    <!-- <span class="invalid-message" ac-if="this.form.controls.phone.errors.phone">Invalid format</span> -->
                </div>
            </label>
        </div>

                <div class="app-form__row">
            <label class="app-form__label">
                <div class="app-form__label__input">
                    <input required type="text" placeholder="Password confirm" ac-form-control="password_confirm" />
                    <div class="app-form__border"></div>
                    <span class="invalid-message" ac-if="this.form.controls.password_confirm.errors.required">Field can not be empty</span>
                    <!-- <span class="invalid-message" ac-if="this.form.controls.phone.errors.phone">Invalid format</span> -->
                </div>
            </label>
        </div>

        <div class="app-form__row" style="justify-content: center;">
            <button type="" class="app-btn" ac-attr="disabled: emailIsSended">Submit</button>
        </div>
    </form>

    <div class="text-center">Already have an account?</div>
    <div class="text-center text-underline"><a ac-link="auth">Sign in</a></div>
</main>
