<main>
    <h3 class="text-center">Profile</h3>

    <form class="app-form" style="width: 500px;margin: auto;">
        <div class="app-form__row">
            <label class="app-form__label">
                <div class="app-form__label__input">
                    <input required type="text" placeholder="Name" ac-value="user.name" readonly/>
                    <div class="app-form__border"></div>
                    <!-- <span class="invalid-message" ac-if="this.form.controls.name.errors.required">Field can not be empty</span> -->
                    <!-- <span class="invalid-message" ac-if="this.form.controls.phone.errors.phone">Invalid format</span> -->
                </div>
            </label>
        </div>
        <div class="app-form__row">
            <label class="app-form__label">
                <div class="app-form__label__input">
                    <input required type="text" placeholder="Phone" ac-value="user.phone" readonly/>
                    <div class="app-form__border"></div>
                    <!-- <span class="invalid-message" ac-if="this.form.controls.name.errors.required">Field can not be empty</span> -->
                    <!-- <span class="invalid-message" ac-if="this.form.controls.phone.errors.phone">Invalid format</span> -->
                </div>
            </label>
        </div>
    </form>
</main>